body{
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
}

.divComment{
    border: 1px solid black;
    font-size: 1.4em;
    margin-bottom: 0.5em;
}

.notificationLogin{
    border: 1px solid black;
}