body{
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    color: whitesmoke;
    background-color: black;
}

.titleArticle{
    font-size: 1.5em;
}

a{
    color: whitesmoke;
}
.container{
    background-color: #025930;
}