body{
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
}

/* ------------------------------- Article -------------------------------*/

.article{
    border-bottom: 0.5px solid black;
    width: 55%;
}
